<app-navbar-disconnected></app-navbar-disconnected>
<div class="container-fluid m-0 p-0 mt-lg-0 overflow-hidden">
  <div class="row m-0 p-0">
    <div class="full-div col-lg-2 col-sm-0  m-0 p-0 d-none d-sm-block">
      <app-navbar-horizontally></app-navbar-horizontally>
    </div>
    <div class="container-flex d-flex col-lg-10 col-12  row  mx-auto p-0">
      <div class="help-page mt-3 mx-auto">
        <div class="text-center">
          <h1>Centru de Ajutor</h1>
        </div>
        <section>
          <h2>1. Creează un cont</h2>
          <p>
            Beneficiază de dreptul de interacțiune pe platformă creându-ți un cont.
          </p>
        </section>

        <section>
          <h2>2. Autentifică-te</h2>
          <p>
            Accesează contul tău prin introducerea informațiilor de autentificare.
          </p>
        </section>

        <section>
          <h2>3. Vizualizează și caută postări</h2>
          <p>
            Pentru a afla ultimele noutăți, accesează pagina principală.
          </p>
          <p>
            Utilizează bara de căutare din pagina principală pentru a găsi postări specifice după cuvinte cheie, autori
            sau subiecte de interes.
          </p>
          <p>
            De asemenea, utilizează funcția de filtrare pentru a restrânge rezultatele la anumite categorii.
          </p>
        </section>

        <section>
          <h2>4. Vizualizează o postare completă</h2>
          <p>
            Accesează o postare pentru a vedea întregul conținut și comentariile asociate, cât și voturile.
          </p>
        </section>

        <section>
          <h2>5. Apreciază/Deapreciază o postare sau un comentariu</h2>
          <p>
            Arată-ți opinia față de o postare sau un comentariu prin utilizarea butoanelor de apreciere/deapreciere.
          </p>
        </section>

        <section>
          <h2>6. Adaugă un comentariu la o postare</h2>
          <p>
            Exprimă-ți opinia adăugând un comentariu la o postare sau la un alt comentariu.
          </p>
        </section>

        <section>
          <h2>7. Creează o comunitate</h2>
          <p>
            Alătură-te altor persoane cu interese similare și creează o comunitate unde să discuți și să partajezi
            informații.
          </p>
        </section>

        <section>
          <h2>8. Alătură-te unei comunități</h2>
          <p>
            Explorează diversele comunități disponibile pe platformă și alege una care să corespundă intereselor tale.
          </p>
          <p>
            Accesează pagina comunității și apasă butonul "Alătură-te" pentru a deveni membru.
          </p>
        </section>

        <section>
          <h2>9. Creează o postare</h2>
          <p>
            Pe pagina comunității, acesează butonul "Creează Postare" pentru a deschide formularul de creare postare în
            cadrul comunității respective
          </p>
        </section>
        <section>
          <h2>10. Editează o postare</h2>
          <p>
            Modifică o postare creată de tine pentru a o sincroniza cu noua ta viziune.
          </p>
        </section>
        <section>
          <h2>11. Contactează-ne</h2>
          <p>
            Dacă întâmpini probleme sau ai întrebări, accesează pagina "Contact".
          </p>
          <p>
            Pe pagina de contact, vei găsi un formular special creat pentru a trimite întrebări, sugestii sau raportări
            către echipa noastră.
          </p>
        </section>
      </div>
    </div>
  </div>
</div>