<app-navbar-disconnected></app-navbar-disconnected>
<div class="container-fluid m-0 p-0">
    <div class="row m-0 p-0">
        <div class="full-div col-lg-2 col-sm-0 h-100 m-0 p-0 d-none d-sm-block">
            <app-navbar-horizontally></app-navbar-horizontally>
        </div>
        <div class="col-lg-9 col-11 m-0 p-0 d-flex justify-content-center align-items-center ms-lg-5 ">
            <div class="row">
                <div class="col-lg-6 mb-5 align-self-center text-center mt-5 ">
                    <p>
                        Descoperă informații și ghiduri utile despre platforma noastră.
                        Explorează secțiunile apăsând pe butonul de mai jos pentru a afla cum să creezi un cont, să interacționezi cu comunitățile, să găsești și să postezi conținut interesant, și multe altele.
                    </p>
                    <a href="/help-s" class="btn btn-primary mt-3 help-button">Afla mai multe</a>
                </div>
                <div class="col-lg-6 mb-5">
                    <img src="assets/images/help.png" class="image col-12 mx-auto">
                </div>
            </div>
        </div>
    </div>
</div>
