<app-navbar-disconnected></app-navbar-disconnected>
<div class="container d-flex justify-content-center align-items-center">
  <div class="col-8 mb-5">
    <h1 class="display-1">Centru de ajutor</h1>
    <p>
      Bine ai venit în Centrul de Ajutor! Aici găsești informații și ghiduri despre platforma noastră.
      Explorează secțiunile de mai jos pentru a afla cum să creezi un cont, să interacționezi cu comunitățile, să găsești și să postezi conținut interesant, și multe altele.
    </p>
    <a href="/help-s" class="btn btn-primary btn-lg mt-3 help-button">Centru de ajutor</a>  
  </div>
  <div class="col-8">
    <img src="assets/images/help.png" class="image">
  </div>
</div>