.next:hover,
.prev:hover {
    color: #FF4433;
    cursor: pointer;
}

.next,
.prev {
    font-size: 4em;
}

.next {
    left: 75%;
}

.prev {
    left: 25%;
}

img {
    width: 48vh;
    height: 32vh;
    border-radius: 20px;
}