<div class="full container mt-4" >
  <h2 *ngIf="data.id == authService.getId()">Editează profilul</h2>
  <form>
    <div class="form-group">
      <label for="lastName">Nume de utilizator</label>
      <input type="text" [disabled]="data.id != authService.getId()" class="form-control" id="lastName" [(ngModel)]="data.username" name="lastName">
    </div>

    <div class="form-group">
      <label for="email">Email</label>
      <input type="email" [disabled]="data.id != authService.getId()" class="form-control" id="email" [(ngModel)]="data.email" name="email">
    </div>
    <div class="form-group">
      <label for="email">Desciere</label>
      <input type="email" class="form-control" id="description" [disabled]="data.id != authService.getId()" [(ngModel)]="data.description" name="description">
    </div>
    <button type="submit" class="btn btn-primary" *ngIf="data.id == authService.getId()" (click)="updateUser()">Salvează modificările</button>
  </form>
  <app-popup-component></app-popup-component>
</div>