.resetPass{
    border: 2px solid rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    box-shadow: 1px 2px #8888885d;
    width: 60%;
    margin-left: 20%;
    height: 40%;
}

#imgReset{
    max-width: 90%;
    max-height: 70%;
    width: auto;
    height: auto;
    width: 100%;
    height: 70%;
}

input {
    width: 100%;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 20px;
    height: 12%;
}

.div-contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.reset-btn{
    width: 100%;
    border-radius: 20px;
    height: 14%;
    background-color: #de1738;
}


p{
    text-align: end;
    color: red;
}