.next:hover,
.prev:hover {
    color: #FF4433;
    cursor: pointer;
}

.next,
.prev {
    font-size: 4em;
}

.next {
    position: absolute;
    left: 87%;
    top: 18%;
}

.prev {
    position: absolute;
    left: 27%;
    top: 18%;
}

img {
    width: 50%;
    height: 50%;
    border-radius: 20px;
}

.image-container {
    position: relative;
    display: inline-block;
    z-index: -1;
    width: 32vh;
    height: 24vh;
    border-radius: 20px;

}


.image-container:hover {
    transform: scale(1.02);
}

.image-container img {
    display: block;
}

.image-text {
    position: absolute;
    bottom: 20px;
    left: 0;
    color: #000000;
    padding: 5px;

}

.image-text-author {
    position: absolute;
    bottom: 0px;
 
    color: #000000;
  
    font-style: italic;
}



.border{
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    box-shadow: 2px 4px #8888885d;
}

.pointer-cursor{
    cursor: pointer;
  }