img {
    margin-top: 15%;
    max-width: 40%;
    max-height: 50%;
    width: auto;
    height: auto;
}

@media (min-width: 992px) {

    img {
        margin-top: 5%;
        max-width: 20%;
        max-height: 50%;
        width: auto;
        height: auto;
    }

}