<app-navbar-disconnected></app-navbar-disconnected>
<div class="container-fluid m-0 p-0">
    <div class="row m-0 p-0">
        <div class="full-div col-lg-2 col-sm-0  h-100 m-0 p-0 d-none d-sm-block">
            <app-navbar-horizontally></app-navbar-horizontally>
        </div>
        <div class="row col-lg-10 col-sm-12 m-0 p-0">
            <img src="assets/images/unauthorized.png" class="mx-auto">
            <h2 class="text-center" >Îmi pare rău, dar se pare că ai dat peste un loc special. Pentru a-l deschide, va trebui să te conectezi sau să-ți creezi un cont!</h2>
        </div>
        
        
    </div>
</div>