.container{
    background-color: #ffffff;
}

.post-container{
    background-color: #ffffff;
}

.avatar-short-post {
    width: 32px;
    height: 32px;
  }
  
  .reaction{
    font-size: 1.2em;
    color: #000;
  }
  
  .reaction-arrow:hover {
    color: #FF4433;  
    cursor: pointer;
  }
  
  .reaction-box-like{
    background-color: #8888883f;
    border-radius: 20px;
  }

  .col-1{
    background-color: #ffffff;
  }