<app-navbar-disconnected></app-navbar-disconnected>
<div class="container-fluid m-0 p-0">
    <div class="row m-0 p-0">
        <div class="full-div col-lg-2 col-sm-0  h-100 m-0 p-0 d-none d-sm-block">
            <app-navbar-horizontally></app-navbar-horizontally>
        </div>
        <div class="row col-lg-10 col-sm-12 m-0 p-0">
            <img src="assets/images/team.jpg" class="mx-auto pb-0 mb-0">
            <h2 class="text-center mt-0 pt-0">Te-ai alăturat cu succes echipei noastre virtuale. Suntem bucuroși să te
                avem aici!</h2>
        </div>
    </div>
</div>