.sort-category {
    color: #000000;
    background-color: #fff;
    border-radius: 20px;
    border: none;
}

.postShort {
    width: 100%;
}

app-carousel {
    width: 200%;
}

.divMare {
    width: 100%;
}