<app-navbar-disconnected></app-navbar-disconnected>
<div class="container-fluid m-0 p-0">
    <div class="row m-0 p-0">
        <div class="full-div col-lg-2 col-sm-0  h-100 m-0 p-0 d-none d-sm-block">
            <app-navbar-horizontally></app-navbar-horizontally>
        </div>
        <div class="row col-lg-10 col-sm-12 m-0 p-0">
            <div class="row 0 bg-black m-0 p-0 d-none d-sm-block">Carusel</div>
            <div class="col-lg-9 col-sm-12 bg-success m-0 p-0">Coloana 2</div>
            <div class="col-lg-3 col-sm-0 bg-danger m-0 p-0 d-none d-sm-block">Coloana 3</div>
        </div>
    </div>
</div>