<div class="container-flex col-10 mx-auto px-0 pt-2 my-3 pb-2 w-100 notification">
    <div class="container-flex chart mx-1 justify-content-between align-items-center">
        <div class="d-flex px-2 pt-2">
            <div class="notification d-flex justify-content-between align-items-start w-100">
                <div class="mx-0">
                    <strong class>{{ data.title }}</strong><br>
                    <p class>{{ data.content }}</p>
                </div>
                <div class="text-right">{{ data.date }}</div>
            </div>
        </div>
    </div>
</div>
