.chart {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  box-shadow: 2px 4px #8888885d;
}

.shortPostClass {
  width: 100%;
}

.shortOver:hover {
  cursor: pointer;
}

p {
  text-align: justify;
  text-justify: inter-word;
}