<app-navbar-disconnected></app-navbar-disconnected>
<div class="container-fluid m-0 p-0 mt-5 mt-lg-0">
    <div class="row m-0 p-0">
        <div class="full-div col-lg-2 col-sm-0  h-100 m-0 p-0 d-none d-sm-block">
            <app-navbar-horizontally></app-navbar-horizontally>
        </div>
        <div class="row col-lg-10 col-12 m-0 p-0">
            <div class="col-12 col-lg-6 div-contact mx-0 ">
                <form (ngSubmit)="onSubmit()" #myForm="ngForm" class="formContact p-5 mx-auto col-12">
                    <h1 class="mb-0 text-center">Contact</h1>
                    <label for="fname">Nume*</label><br>
                    <input type="text" id="fname" name="fname" [(ngModel)]="formData.nume" required><br><br>

                    <label for="lname">Prenume*</label><br>
                    <input type="text" id="lname" name="lname" [(ngModel)]="formData.prenume" required><br><br>

                    <label for="lname">E-mail*</label><br>
                    <input type="email" id="email" name="email" [(ngModel)]="formData.email" required><br><br>

                    <label for="lname">Subiect*</label><br>
                    <input type="text" id="subject" name="subject" [(ngModel)]="formData.subject" required><br><br>

                    <label for="lname">Mesaj*</label><br>
                    <input type="text" id="message" name="message" [(ngModel)]="formData.message" required><br><br>
                    <br>
                    <div class="d-flex justify-content-center">
                        <button type="submit" class="btn contact-btn" [disabled]="!myForm.valid">Submit</button>
                    </div>
                </form>
            </div>
            <div class="col-0 col-lg-6 div-contact">
                <img src="assets/images/contact.jpg" id="imgcontact" class=" d-none d-lg-block">
            </div>
        </div>
    </div>
</div>