<ul>
    <li><a [routerLink]="['/home']">Home</a></li>
    <li><a [routerLink]="['/home-menu']">Home Menu</a></li>
    <li><a [routerLink]="['/post']">Post</a></li>
    <li><a [routerLink]="['/about']">About</a></li>
    <li><a [routerLink]="['/contact']">Contact</a></li>
    <li><a [routerLink]="['/saved-posts']">Saved Posts</a></li>
    <li><a [routerLink]="['/not-found']">Not Found</a></li>
    <li><a [routerLink]="['/registration-successful']">Registration Successful</a></li>
    <li><a [routerLink]="['/internal-server-error']">Internal Server Error</a></li>
    <li><a [routerLink]="['/unauthorized']">Unauthorized</a></li>
    <li><a [routerLink]="['/full-post', 1]">Full Post 1</a></li> <!-- Exemplu pentru ruta cu parametru "id" -->
  </ul>
  