.create-post-container {
    background-color: #f9f9f9;
}

.postButton, .discardButton{
    margin-right: 10px;
    border: 1px solid;
    border-radius: 4px;
    font-size: 12px;
    height: 34px;
    text-transform: uppercase;
}

.postButton:hover{
   background-color: #FF4433;
   color: #fff;
}

