.edit-form {
  background-color: #ffffff;
  padding: 2rem;
  margin-top: 0;
  border: 1px solid rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  box-shadow: 2px 4px #8888884d;
}


#sub {
  margin: 0;
}

h3 {
  color: black;
  text-align: center;
}

form {
  margin-top: 20px;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
  color: #333;
}

input,
textarea,
select {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
}

.btn-primary {
  background-color: #FF4433;
  color: #fff;
  color: #fff;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
}

.btn-primary:hover {
  background-color: #aa122c;
}

button {
  margin-left: 2rem;
}

label {
  padding-top: 2rem;
  font-size: large;
  font-weight: bold;
  color: #000000;
}