<app-navbar-disconnected></app-navbar-disconnected>
<div class="container-fluid m-0 p-0">
    <div class="row m-0 p-0">

        <div class="full-div d-flex col-lg-2 col-0  m-0 p-0 d-none d-lg-block">
            <app-navbar-horizontally></app-navbar-horizontally>
        </div>

        <div class="col-lg-10 col-12 m-0 p-5 ontent d-flex justify-content-center align-items-center">
            <div class="edit-form col-lg-6 col-10">
                <h2>Edit Community</h2>
                <form (ngSubmit)="saveChanges()">
                    <div class="form-group">
                        <label for="name">Name:</label>
                        <input type="text" class="form-control" id="name" [(ngModel)]="community.name" name="name"
                            required>
                    </div>
                    <div class="form-group">
                        <label for="description">Description:</label>
                        <textarea class="form-control" id="description" [(ngModel)]="community.description"
                            name="description" rows="3" required></textarea>
                    </div>
                    <div class="form-group">
                        <label for="members">Members:</label>
                        <ul>
                            <li *ngFor="let memberId of community.memberIds">
                                <span>{{ memberId }}</span>
                                <button type="button" class="btn btn-danger btn-sm">Delete</button>
                            </li>
                        </ul>
                    </div>
                    <div class="form-group">
                        <label for="photo">Fotografia comunități: </label>
                        <p>{{photoName}}</p>
                        <div class="file-input-wrapper d-flex ">
                            <input type="file" #fileInput style="display: none" (change)="uploadFiles()"
                                accept="image/*">
                            <button class="round-button" (click)="fileInput.click()">
                                <svg xmlns="http://www.w3.org/2000/svg" height="16" width="16" viewBox="0 0 512 512">
                                    <path
                                        d="M448 80c8.8 0 16 7.2 16 16V415.8l-5-6.5-136-176c-4.5-5.9-11.6-9.3-19-9.3s-14.4 3.4-19 9.3L202 340.7l-30.5-42.7C167 291.7 159.8 288 152 288s-15 3.7-19.5 10.1l-80 112L48 416.3l0-.3V96c0-8.8 7.2-16 16-16H448zM64 32C28.7 32 0 60.7 0 96V416c0 35.3 28.7 64 64 64H448c35.3 0 64-28.7 64-64V96c0-35.3-28.7-64-64-64H64zm80 192a48 48 0 1 0 0-96 48 48 0 1 0 0 96z" />
                                </svg>
                            </button>
                        </div>
                    </div>
                    <button id="sub" type="submit"  (click)="saveChangesTopic()" class="btn btn-primary">Save Changes</button>
                </form>
            </div>
        </div>
    </div>
</div>