.profile-card {
  margin: 2rem;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(to bottom, rgba(255, 68, 51, 0.7) 30%, transparent 25%, transparent 100%);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  transition: transform 0.3s, box-shadow 0.3s;
}

.profile-picture {
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  object-fit: cover;
}

.circle {
  z-index: 2;
  margin-top: -1rem;
  border-radius: 50%;
  padding: .40rem;
  background-color: white;
  border-width: 1px;
}

svg {
  width: 2rem;
  height: 2rem;
}

.profile-info {
  text-align: center;
  margin-top: 20px;
}

.round-button {
  border: 0px;
  background-color: #fff;
}