#navbar-disconnected {
    background-color: #fef9f8;
    height: 60px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 0px;
    padding: 0px;
}

#search-icon-small:hover {
    cursor: pointer;
}

#login-btn {
    background-color: #FF4433;
    border-radius: 24px;
    margin-right: 16px;
    color: #ffffff;
    height: 40px;
}

#search-box {
    margin: 0px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    color: #000000b4;
    border-radius: 24px;
    background-color: #fff;
}

#search-input {
    padding-right: 16px;
    border: none;
    background-color: #fff;
}

#search-icon {
    padding-left: 16px;
}

#search-input:focus {
    box-shadow: none;
}

#search-icon-small {
    margin-right: 16px;
}

.submenu {
    font-size: 2em;
}

.navbar-ico {
    font-size: 1.5em;
    width: 32px;
    height: 32px;
}

.avatar {
    width: 32px;
    height: 32px;
    border-radius: 20px;
    border: 2px solid #FF4433;
}


#userMenu {
    position: fixed;
    top: 60px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    box-shadow: 1px 2px #8888885d;
    background-color: #fff;
}

a {
    color: #000;
    text-decoration: none;
}