<nav class="container-fluid navbar navbar-expand-sm row m-0 p-0" id="navbar-disconnected">
    <div class="container-fluid">
        <div class="d-flex align-items-center ">
            <p class="my-0 p-0 submenu d-lg-none">☰</p>
            <a href="\home">
                <img src="assets/images/logo.svg" alt="logo" class="m-2 mt-0 mb-0 p-0">
            </a>
            <img src="assets/images/logo-text-black.svg" alt="logo" class="d-none d-sm-block mt-2">
        </div>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav">
            </ul>
        </div>

        <div class="container d-none d-sm-block  ">
            <div class="container d-flex w-50 mx-auto" id="search-box">
                <img src="assets/images/search.svg" alt="search" id="search-icon">
                <input type="text" class="form-control" id="search-input" placeholder="Căutare...">
            </div>
        </div>


        <div class="d-flex justify-content-end">
            <img src="assets/images/search.svg" alt="logo" id="search-icon-small" class="d-block d-sm-none">
            <button type="button" class="btn" id="login-btn">Conectare</button>
            <button type="button" class="btn" id="login-btn">Creare cont</button>
        </div>


    </div>
</nav>